*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection{
    background-color: black;
    color: #fff;
}

html , body{
    height: 100%;
    width: 100%;
}
 body{
    background-color: #F7F7F7;
 }
 #cursor{
    height: 250px;
    width: 250px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    
   transform: translate(-50%,-50%) scale(0);
 }
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 25vh;


}
#page1 h1{
    font-size: 15.4vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 13vw;
    font-weight:bolder;
    letter-spacing: -12px;
    
}
#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;


}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #play{
    padding: 3vw 2.3vw;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    font-family: futura;
    font-size: 1.2vw;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    /* scale: 0; */
    
}
#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2vw 1vw;
    justify-content: space-between;

}
 #page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
 }
 #page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
 }

 #page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
 }
 .child{
    height: 55vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 

#page2 .elem .dets{
    height: 60px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
}
#page2 .elem .dets:hover{
    height: 200px;
  
}

 @media (max-width:600px){
   #page1 h1{
    font-size: 16vw;
    letter-spacing: -3px;

   }
   #page1{
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
   }
   #video-container{
    height: 25vh;
    width: 100%;
    margin-top: 3vw;

   }
   #video-container #play{
    padding: 9.5vw 7.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50% , -50%);
    
}
#page2{
    min-height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5vw 3vw;
    

}
#page2 .elem{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
    margin-bottom: 3vw;
 }
 #page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    scale: 1;
 }

 }
 #nav{
    /* height: 100px; */
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 26px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 }
 #nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
 }
 #nav-part2 #links a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 0 20px;
 }

 #nav-part2 #icons i{
    font-size: 18px;
    margin:0  20px;
    font-weight: 100;
 }
 #links{
    padding: 10px;
 }
 #icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
 }